<!--<div class="background-image"></div>-->
<div class="nav">
    <div class="col-1">Home</div> <!-- 25% -->
    <div class="col-2"><a href="/forum">Forum</a></div> <!-- 75% -->
    <div class="col-3">About</div>
</div>